# fly.toml app configuration file generated for pandects-app on 2025-07-14T22:19:56-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pandects-app'
primary_region = 'iad'

[build]
  [build.args]
    VITE_API_BASE_URL = "https://api.pandects.org"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
