frontend/node_modules/
backend/venv/
etl/.venv/

# Env / secrets
**/*.env
**/pipeline.yaml

# Build outputs
frontend/dist/
backend/build/

TODO.md
NOTES.md
*.sql
*.pyc
*.parquet

*.csv

**/*.tmp_dagster*

**/tb_logs
**/lightning_logs
**/model_files

.vscode