frontend/node_modules/
frontend/.cert/
backend/venv/
etl/.venv/
emails/node_modules
emails/.react-email

# Env / secrets
**/*.env
**/.env.local
**/.env.*.local
**/pipeline.yaml
*.sqlite
client_secret*.json
fly-wg*.conf

# Build outputs
frontend/dist/
backend/build/

TODO.md
NOTES.md
AGENTS.md
*.sql
*.pyc
*.parquet

_t.*

*.csv

**/data/*

**/*.tmp_dagster*

**/tb_logs
**/lightning_logs
**/model_files

**/.ipynb_checkpoints

.vscode

.DS_Store

.cursor
